.test {
font-size: 23px;
}
.person_id{
text-align: right;
margin: 70px 50px 0px 205px;
padding-top: 45px;
}
.first_name{
margin: 70px 0px 20px 45px;
}
.creator{
margin: 0 0px 0px 45px;
}
.date{
margin: 20px 0px 0px 45px;
}
.afiliado{
font-size: 14;
margin-left: 45px;
}