<!-- home.html -->
{% extends "base.html" %}
{% load static %}
{% block title %}Homepage{% endblock %}

{% block main %}
<link rel="stylesheet" href="https://cdn.lineicons.com/3.0/lineicons.css"> 
<section class="price_plan_area section_padding_130_80" id="pricing">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-sm-8 col-lg-6">
            <!-- Section Heading-->
            <div class="section-heading text-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
              </br></br></br></br>
              <h2>Encontremos un camino juntos</h2>
              </br>
              <p>Programa para acceder a especialistas en la salud con tarifas preferenciales, que van desde el 20% hasta el 70%.</p>
              </br>
              <div class="line"></div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <!-- Single Price Plan Area-->
          <div class="col-12 col-sm-8 col-md-6 col-lg-4">
            <div class="single_price_plan wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
              <div class="title">
                <h3>Biper</h3>
                <p>Inicia</p>
                <div class="line"></div>
              </div>
              <div class="price">
                <h4>$150.000</h4>
              </div>
              <div class="description">
                <p><i class="lni lni-checkmark-circle"></i>Duración: 365 días</p>
                <p><i class="lni lni-checkmark-circle"></i>2 Afiliados</p>
                <p><i class="lni lni-checkmark-circle"></i>Sin cuotas escondidas</p>
                <p><i class="lni lni-checkmark-circle"></i>30 Citas</p>
                <p><i class="lni lni-close"></i>No Tools</p>
              </div>
              <div class="button"><a class="btn btn-success btn-2" href="#">Comprar</a></div>
            </div>
          </div>
          <!-- Single Price Plan Area-->
          <div class="col-12 col-sm-8 col-md-6 col-lg-4">
            <div class="single_price_plan active wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
              <!-- Side Shape-->
              <div class="side-shape"><img src="https://bootdey.com/img/popular-pricing.png" alt=""></div>
              <div class="title"><span>Popular</span>
                <h3>Clasica</h3>
                <p>For Small Business Team</p>
                <div class="line"></div>
              </div>
              <div class="price">
                <h4>$250.000</h4>
              </div>
              <div class="description">
                <p><i class="lni lni-checkmark-circle"></i>Duration: 365 Días</p>
                <p><i class="lni lni-checkmark-circle"></i>5 Afiliados</p>
                <p><i class="lni lni-checkmark-circle"></i>Sin cuotas escondidas</p>
                <p><i class="lni lni-checkmark-circle"></i>90 Citas</p>
                <p><i class="lni lni-close"></i>5 Tools</p>
              </div>
              <div class="button"><a class="btn btn-warning" href="#">Comprar</a></div>
            </div>
          </div>
          <!-- Single Price Plan Area-->
          <div class="col-12 col-sm-8 col-md-6 col-lg-4">
            <div class="single_price_plan wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
              <div class="title">
                <h3>Enterprise</h3>
                <p>Unlimited Possibilities</p>
                <div class="line"></div>
              </div>
              <div class="price">
                <h4>$550.000</h4>
              </div>
              <div class="description">
                <p><i class="lni lni-checkmark-circle"></i>Duración: 1 Año</p>
                <p><i class="lni lni-checkmark-circle"></i>7 afiliados</p>
                <p><i class="lni lni-checkmark-circle"></i>Sin cuotas escondidas</p>
                <p><i class="lni lni-checkmark-circle"></i>Citas ilimitadas</p>
              </div>
              <div class="button"><a class="btn btn-info" href="#">Comprar</a></div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}