<!-- home.html -->
{% extends "base.html" %}
{% load static %}
{% block title %}Homepage{% endblock %}

{% block main %}

<div class="container">
            <div class="row">
                 <div class="col-lg-10 mx-auto mb-4">
                    <div class="section-title text-center ">
                        </br></br><br>
                        <img src="{% static 'front/img/logo_soy.png' %}" width="297" height="150" class="d-inline-block align-top" alt="">
                        <br><br>
                        <h3 class="top-c-sep">Lista de especialistas y comercios</h3>
                        <p>Programa para acceder a especialistas en la salud con tarifas preferenciales, que van desde el 20% hasta el 70%.</p>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <div class="career-search mb-60">
                        <form action="#descount" class="career-form mb-60" method="{% url 'home' %}" >
                            <div class="row">
                                <div class="col-md-6 col-lg-3 my-3">
                                    <div class="input-group position-relative">
                                        <input type="search" name="search" class="form-control" placeholder="Ingrese una palabra" id="search">
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3 my-3">
                                    <div class="select-container">
                                        <select class="custom-select" name="city" value="ciudad" >
                                            <option value="" disabled selected>Ubicacion</option>
                                            <option value="Armenia">Armenia</option>
                                            <option value="Cartago">Cartago</option>
                                            <option value="Manizales">Manizales</option>
                                            <option value="Pereira">Pereira</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3 my-3">
                                    <div class="select-container">
                                        <select class="custom-select" name="specialty" value="especialidad">
                                            <option value="" disabled selected>Especialidad</option>
                                            <option value="Alergologia">Alergologia</option>
                                            <option value="Ambulancia">Ambulancia</option>
                                            <option value="Audiometria">Audiometria</option>
                                            <option value="Cardiologia">Cardiologia</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3 my-3">
                                    <button type="submit" class="btn btn-lg btn-block btn-light btn-custom" id="contact-submit" >
                                        Buscar
                                    </button>
                                </div>
                            </div>
                        </form>   
                        <div class="filter-result" >
                            <p class="mb-30 ff-montserrat" id="descount">Descuentos : {{ number_suppliers }}</p>
                            {% for supli in page_obj %}
                            
                            <div class="job-box d-md-flex align-items-center justify-content-between mb-30">
                                <div class="job-left my-4 d-md-flex align-items-center flex-wrap">
                                    <div class="img-holder mr-md-4 mb-md-0 mb-4 mx-auto mx-md-0 d-md-none d-lg-flex">
                                        {{supli.discount}}&#37;
                                    </div>
                                    <div class="job-content">
                                        <h5 class="text-center text-md-left">{{ supli.specialty }}</h5>
                                        <ul class="d-md-flex flex-wrap text-capitalize ff-open-sans">
                                            <br>
                                            <li class="mr-md-4">
                                                <i class="zmdi zmdi-hospital mr-2"></i> {{supli.first_name}}
                                            </li>
                                            <li class="mr-md-4">
                                                <i class="zmdi zmdi-city mr-2"></i> {{ supli.address }}
                                            </li>
                                            <li class="mr-md-4">
                                                <i class="zmdi zmdi-money mr-2"></i> 25.000
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="job-right my-4 flex-shrink-0">
                                    <a href="https://api.whatsapp.com/send?phone=+573178935849&text=Quiero%20una%20cita%20con%20{{ supli.specialty }} - %20{{supli.first_name}}%20{{supli.phone}}" class="btn d-block w-100 d-sm-inline-block btn-outline-success">Whatsapp Cita</a>
                                </div>
                                <div class="job-right my-4 flex-shrink-0">
                                    <a href="tel:+573178935849" class="btn d-block w-100 d-sm-inline-block btn-outline-info">Llamar Cita</a>
                                </div>
                            </div>
                            <strong ></strong>
                            {% endfor %}
                            
                    <!-- START Pagination -->
                    <nav aria-label="Page navigation">
                        <ul class="pagination pagination-reset justify-content-center">
                            {% if page_obj.has_previous %}
                            <li class="page-item disabled">
                                <a class="page-link" href="?page={{page_obj.previous_page_number}}" tabindex="-1" aria-disabled="true">
                                    <i class="zmdi zmdi-long-arrow-left"></i>
                                </a>
                            </li>
                            {% endif %}
                            
                            {% for i in page_obj.paginator.page_range %}
                            {% if page_obj.number == i %}
                                <a class="page-link" href="#">{{ i }} </a>
                            {% else %}
                                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                            {% endif %}
                            {% endfor %}

                           
                            {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{page_obj.next_page_number}}">
                                    <i class="zmdi zmdi-long-arrow-right"></i>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                    <!-- END Pagination -->
                </div>
            </div>

        </div>
{% endblock %}